.svgChart{
  min-width:300px;
}
.vline{
  fill: red;
}

.vline2{
  fill: darkgray;
}
.topbox{
    display: inline-block;
    height: 40px;
    width: 150px;
    margin-left: 20px;
    text-align: center;
    font-size: 25px;
    color: white;
}

.legend{
  display: inline-block;
    height: 20px;
    width: 20px;
}

.legend-text{
  padding-right: 15px;
  padding-left: 5px;
}

body {
  margin: 15px;
  background-color: #F1F3F3    
}
.bar {
	fill: #6F257F;
}

.lf {
	fill: #2FCDDC;
}
.sevenDay {
	fill: #4BACC6;
}
.threeDay {
	fill: #388194;
}
.oneDay {
	fill: #255663;
}
.light-red{
  fill: #D99694;
}
.light-green{
  fill: #92D050;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D4D8DA;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
.x path {
	display: none;
}
.toolTip {
	position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}
